{% extends "layout.html" %}

{% block title %}Form{% endblock  %}

{% load static %}
{% block content %}

<div class="form-box">    
    <div class="my-form">
        {% comment %} <form method="get"> {% endcomment %}
        <form method="post">
            {% csrf_token %}
            {% comment %} <label for="">Value 1</label>
            <input type="text" name="val1" value="{{n1}}">
            <label for="">Address</label>
            <input type="text" name="val2" value="{{n2}}">{% endcomment %}
            {{form}}
            <button type="submit">Submit</button> 
            <h4>Output</h4>
            <input type="text"value= "{{out}}">
        </form>
    </div>
</div>
{% endblock %}