body{
    background-color: rgb(222, 187, 232);
}

#content {
    line-height: 1.6;
    color: #333;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    background: url('https://images.unsplash.com/photo-1610116306796-6fea9f4fae38?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    color: white;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.hero button {
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.hero button:hover {
    background: #e68a00;
}

section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.feature-card {
    flex: 1 1 250px;
    padding: 10px 15px;
    margin: 20px;
    max-width: 250px;
    max-height: 400px;
    background-color: aqua;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* text-align: center; */
    transition: transform 0.3s;
}

.feature-card img {
    display: block;
    width: 90%;
    height: 50%;
    margin: 5px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

b {
    text-align: left;
    font-weight: bold;
    color: #0d0d0c;
}
p b{
    background-color: rgb(134, 193, 173);
    display: block;
    border-radius: 30px;
    padding: 10px;
}

.testimonial strong {
    margin-top: 10px;
    text-align: center;
    color: #941c38;
}

/* .testimonials {
    background: #f9f9f9;
} */

.testimonial {
    text-align: center;
    /* padding: 10px; */
    height: auto;
    object-fit: contain;
    overflow: auto;
}

.testimonial p {
    font-style: italic;
    text-align: left;
    /* margin-bottom: 10px; */
}


@media(max-width: 768px) {
    .features {
        flex-direction: column;
    }
}